window.bar {
	background-color: transparent;
	color: white;
}

.workspaces, .player, .volume, .battery, .calendar, .clock {
	background-color: rgb(30, 30, 46);
	border-radius: 8px;
	margin: 12px 6px 0px;
	padding: 0px 8px;
}

button {
	background: rgba(0, 0, 0, 0);
	border: none;
	text-decoration: none;
}

label {
	font-weight: bold;
}