@use "sass:color";

$bg: rgba(30, 30, 46, 0.8);
$fg: whitesmoke;
$accent: #cba6f7;
$accent2: #f5c2e7;
$error: #f38ba8;
$rad: 8px;

window.Bar {
	all: unset;
	font-family: "OverpassM Nerd Font";
	
	background-color: transparent;
	color: $fg;

	.Workspaces {
		background-color: $bg;
		border-radius: $rad;
		margin: 12px 12px 0px;
		padding: 4px 8px;

		button {
			all: unset;
			background-color: transparent;
			border-color: $fg;
			border-style: solid;
			border-radius: $rad;
			border-width: 2px;
			margin: 0px 4px;
			padding: 0px 8px;
		}

		button.focused {
			border-color: $accent;
		}
	}

	.Media {
		background-color: $bg;
		border-radius: $rad;
		margin: 12px 12px 0px;
		padding: 0px 8px;
	}

	.AudioSlider {
		background-color: $bg;
		border-radius: $rad;
		margin: 12px 12px 0px;
		padding: 0px 8px;
	}

	.Battery {
		background-color: $bg;
		border-radius: $rad;
		margin: 12px 12px 0px;
		padding: 4px 8px;

		icon {
			padding: 0px 6px 0px 0px;
		}
	}

	.Date {
		background-color: $bg;
		border-radius: $rad;
		margin: 12px 12px 0px;
		padding: 4px 8px;
	}
	
	.Time {
		background-color: $bg;
		border-radius: $rad;
		margin: 12px 12px 0px;
		padding: 4px 8px;
	}
}

window#applauncher {
	all: unset;
    font-family: "OverpassM Nerd Font";

	box.Applauncher {
		background-color: $bg;
		color: $fg;
		
		border-color: $accent;
		border-style: solid;
		border-radius: $rad;
		border-width: 2px;

		padding: 24px;

		entry {
			background-color: rgb(30, 30, 46);
			color: $fg;
			border-color: transparent;
			border-style: solid;
			border-radius: 8px;
			border-width: 1px;
			margin-bottom: 20px;
			padding: 10px 16px;
		}

		entry:focus {
			border-color: $fg;
		}

		button {
			all: unset;

			background-color: rgb(30, 30, 46);
			color: $fg;

			border-color: transparent;
			border-style: solid;
			border-radius: $rad;
			border-width: 2px;

			margin: 0px;
			padding: 6px 12px;

			icon {
				font-size: 40px;
				margin: 0px;
				padding: 0px;
			}

			label.name {
				font-weight: bold;
				padding: 0px 12px;
			}
		}

		button:focus {
			border-color: $fg;
		}

		box.not-found {
			margin: 20px 0px;
		}
	}
}

window.NotificationPopups {
	all: unset;
}

eventbox.Notification {
	font-family: "OverpassM Nerd Font";

	&:first-child>box {
		margin-top: 28px;
	}

	&:last-child>box {
		margin-bottom: 12px;
	}

	// eventboxes can not take margins so we style its inner box instead
	>box {
		background-color: $bg;
		border: 2px solid $accent;
		border-radius: $rad;
		min-width: 400px;
		margin: 20px 36px;
		box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
	}

	&.critical>box {
		border: 2px solid $error;

		.header {

			.app-name {
				color: $error;

			}

			.app-icon {
				color: $error;
			}
		}
	}

	.header {
		padding: 12px 12px 8px 12px;
		color: $fg;

		.app-icon {
			margin: 0 8px;
		}

		.app-name {
			font-weight: bold;
		}

		.time {
			margin: 0 10px;
		}

		button {
			all: unset;
			padding: 4px;
			min-height: 0;
			min-width: 0;
		}
	}

	separator {
		margin: 0px;
		background-color: $bg;
	}

	.content {
		padding: 0px 12px 12px 12px;

		.summary {
			font-size: 20px;
			color: $fg;
		}

		.body {
			color: $fg;
		}

		.image {
			margin-right: 12px;
			border-radius: $rad;
			min-width: 100px;
			min-height: 100px;
			background-size: cover;
			background-position: center;
		}
	}

	.actions {
		margin: 0px 12px 12px 12px;

		button {
			margin: 0px 4px;

			&:first-child {
				margin-left: 0px;
			}

			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

window.OSD {
	all: unset;
	font-family: "OverpassM Nerd Font";

	box.OSD {
		background-color: $bg;
		border-radius: $rad;
		margin: 100px;
		padding: 12px 20px;
		box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
	}

	icon {
		font-size: 18px;
	}

	label {
		font-size: 18px;
	}

	levelbar {
		trough {
			background-color: transparent;
			border: 1px solid $accent;
			border-radius: $rad;
			margin: 0px 12px;
		}

		block {
			min-height: 6px;
		}
	}
}
