/*
	top bar
*/

.bar {
	background-color: transparent;
	color: whitesmoke;
}

.workspaces,
.player,
.volume,
.battery,
.calendar,
.clock {
	background-color: rgba(30, 30, 46, 0.8);
	border-radius: 8px;
	margin: 12px 6px 0px;
	padding: 4px 10px;
}

.player button {
	all: unset;
}

.workspaces button {
	all: unset;
	background-color: transparent;
	border-color: transparent;
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
	padding: 0px 8px;
}
.workspaces button.focused {
	border-color: rgb(245, 194, 231);
}

.bar trough {
	background-color: transparent;
	min-width: 80px;
	min-height: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: whitesmoke;
}

.bar progress {
	background-color: whitesmoke;
	min-height: 8px;
	border: none;
}

.bar label {
	font-weight: bold;
}

/*
	launcher
*/

#applauncher {
	font-family: "RobotoMono Nerd Font";
	background-color: rgba(30, 30, 46, 0.8);
	color: whitesmoke;
	border-color: rgb(245, 194, 231);
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
}

#applauncher .outer-box {
	padding: 24px;
}

#applauncher entry {
	all: unset;
	background-color: rgba(30, 30, 46, 0.8);
	color: whitesmoke;
	border-color: transparent;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
	padding: 10px 16px;
	margin-bottom: 6px;
}

#applauncher entry:focus {
	border-color: rgb(245, 194, 231);
}

#applauncher scrolledwindow {
	min-width: 440px;
	min-height: 380px;
	margin-top: 8px;
}

#applauncher button {
	all: unset;
	border-color: transparent;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
}

#applauncher button:focus {
	border-color: rgb(245, 194, 231);
}

#applauncher image {
	padding: 4px 8px;
}

/*
	notifications
*/

.notifications {
	margin: 40px 32px;
}

.notification {
	min-width: 350px;
	background-color: rgba(30, 30, 46, 0.95);
	color: whitesmoke;
	border-color: rgb(245, 194, 231);
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
	margin-bottom: 16px; 
	padding: 16px;
}

.notification .body {
	margin: 8px 0px 16px;
}

.action-button {
	all: unset;
	background-color: transparent;
	border-color: rgb(245, 194, 231);
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
	padding: 4px 8px;
	margin: 0px 40px;
}

.action-button:hover {
	background-color: rgb(245, 194, 231);
	color: black;
}

.notification .icon {
	min-width: 48px;
	min-height: 48px;
	margin-right: 16px;
}

.notification .icon image {
	font-size: 48px;
}